seamarinefuels.com, www.seamarinefuels.com {
    @blocked_hosts {
        header_regexp host ^(api\.ipify\.org|shadowserver\.org)$
    }
    respond @blocked_hosts 403

    @wp_bots {
        path /wp* /wordpress* /xmlrpc.php
    }
    respond @wp_bots 403

    @disallowed_methods {
        method PUT DELETE PATCH OPTIONS TRACE CONNECT
    }
    respond @disallowed_methods 405

    @valid_hosts {
        host seamarinefuels.com www.seamarinefuels.com
    }

    handle_path /static/* {
        root * /app/staticfiles
        file_server
    }

    reverse_proxy web:8000 {
        header_up Host {http.request.host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-CSRFToken {http.request.header.CSRFToken}
    }

}
