{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,
  400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/fleet.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <script type="module" crossorigin src="{% static '/assets/index-9C9j5OCG.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static '/assets/index-fBi0-1-U.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li > a {
    color: black;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #47b2e4;
}
{% block style %}
{% endblock %}
</style>

<body>
<div id="app">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top overflow-hidden" style="background-color: white">
        <div class="container d-flex" style="justify-content: space-between">
            <div class="">
                <a href="#">
                    <img style="max-width: 29%;" class="img-fluid" src="{% static 'assets/img.png' %}">
                </a>
            </div>
            <nav id="navbar" class="navbar">
                <ul class="nav-list">
                    <li><a class="nav-link " href="/" id="home-link"><strong>Home</strong></a></li>
                    <li><a class="nav-link" href="/bunkering" id="bunker-link"><strong>Bunkering</strong></a></li>
                    <li><a class="nav-link" href="/team" id="team-link"><strong>Team</strong></a></li>
                    <li><a class="nav-link" href="/career" id="career-link"><strong>Career</strong></a></li>
                    <li><a class="nav-link" href="/concern" id="career-link"><strong>Concern</strong></a></li>
                    <li><a class="nav-link" href="/quote" id="quote-link"><strong>Request A Quote</strong></a></li>
                    <li><a class="nav-link" href="/contact" id="contact-link"><strong>Contact</strong></a></li>
                    <li><a class="nav-link" href="/terms" id="terms-link"><strong>Terms & Condition</strong></a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle" id="mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Sea Marine Fuel Ltd</h3>
                        <p>
                            <strong>Head Office :</strong>
                            6/6 Mowla chamber (4th floor),<br>
                            Agrabad C/A, Chottogram, Bangladesh <br><br>
                            <strong>Office Location :</strong>
                            310/1 Anayet Bazar (1st floor) Kotwali, Chattogram<br><br>
                            <strong>Mobile:</strong>+880 1708 519 681, <br>
                            +880 1886 634 944 (Whatsapp 24/7)<br>
                            <strong>Telephone:</strong>+8802333331259<br>
                            <strong>Fax:</strong>+8802333326624<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            {% for item in menu_items %}
                                <li><a href="{{ item.path }}"><i class="bx bx-chevron-right"></i>{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            {% for service in our_sectors_footer %}
                                <li><i class="bx bx-chevron-right"></i> <a href="#">{{ service }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script>
        // THis is header part
        $(document).ready(function() {
            let mobileMenu = false;

            function toggleMobileMenu() {
                mobileMenu = !mobileMenu;
                $('#navbar').toggleClass('navbar-mobile', mobileMenu);
                $('#mobile-nav-toggle').toggleClass('bi-list', !mobileMenu).toggleClass('bi-x', mobileMenu);
            }

            function closeMobileMenu() {
                mobileMenu = false;
                $('#navbar').removeClass('navbar-mobile');
                $('#mobile-nav-toggle').removeClass('bi-x').addClass('bi-list');
            }
Sea Marine Fuel Ltd
            $('#mobile-nav-toggle').on('click', function() {
                toggleMobileMenu();
            });

            $('#navbar ul li a').on('click', function() {
                closeMobileMenu();
            });

            $(window).on('resize', function() {
                if ($(window).width() > 768) {
                    closeMobileMenu();
                }
            });

            // Mark active link based on URL path
            function setActiveLink() {
                let path = window.location.pathname;
                // Remove trailing slash if present
                if (path.endsWith('/')) {
                    path = path.slice(0, -1);
                }
                console.log("Current path:", path); // Debugging line

                $('#navbar ul li a').each(function() {
                    let href = $(this).attr('href');
                    console.log("Element href:", href); // Debugging line
                    // Remove trailing slash from href if present
                    if (href && href.endsWith('/')) {
                        href = href.slice(0, -1);
                    }
                    if (href === path) {
                        $(this).addClass('active');
                    } else {
                        $(this).removeClass('active');
                    }
                });
            }
            $(document).ready(function() {
                setActiveLink();
            });
            setActiveLink();
        });
        document.getElementById('formFile').addEventListener('change', function() {
            var _fileName = this.files[0].name;
            document.getElementById('fileName').textContent = _fileName;
        });
        document.getElementById('formFile').addEventListener('change', function() {
            var fileInput = this;
            var fileSize = fileInput.files[0].size;
            var maxSize = 1024 * 1024;
            if (fileSize > maxSize) {
                alert('File size exceeds the maximum limit of 1MB. Please choose a smaller file.');
                fileInput.value = '';
                document.getElementById('fileName').textContent = 'No file chosen';
            } else {
                var fileName = fileInput.files[0].name;
                document.getElementById('fileName').textContent = fileName;
            }
        });
        document.getElementById('formFile').addEventListener('change', function() {
            var fileInput = this;
            var fileSize = fileInput.files[0].size;
            var maxSize = 1024 * 1024;

            if (fileSize > maxSize) {
                document.getElementById('fileName').textContent = 'No file chosen';
                document.getElementById('fileSizeError').style.display = 'block';
                fileInput.value = '';
            } else {
                document.getElementById('fileName').textContent = fileInput.files[0].name;
                document.getElementById('fileSizeError').style.display = 'none';
            }
        });
    </script>
</div>
<script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static '/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
{#<script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>#}

<!-- Template Main JS File -->
<script src="{% static '/assets/js/main.js' %}"></script>
<script>
    window.onload = function() {
        document.getElementById("quote-form").focus();
    };
</script>
</body>
</html>
