{% extends 'base.html' %}
{% load static %}
{% block title %} Career {% endblock %}
{% block style %}
    .custom-select {
    border: 1px solid inherit;
    width: 100%;
    border-radius: 4px;
    }

    .custom-select:focus {
    outline: red;
    }

    .custom-select option {
    font-size: 10px; /* Set font size for all options */
    }
{% endblock %}
{% block content %}
    <!-- ======= Quote Section ======= -->
    <section id="career" class="contact mt-20">
        <div class="container" data-aos="fade-down">
            <div class="text-center">
                <button type="submit" id="submitButton">Send Message</button>
                <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="section-title">
                <h2>Career</h2>
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Please submit the form below to send CV</p>
                {% endif %}
            </div>
            <div class="container">
                <div class="row">
                    <form action="" method="post" role="form" enctype="multipart/form-data" class="php-email-form">
                        {% csrf_token %}
                        <h1 class="mb-3"><strong>Personal Info</strong></h1>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name"><small>Name*</small></label>
                                <input style="height: 50%" type="text" name="name" class="form-control" id="name">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name"><small>Mobile*</small></label>
                                <input placeholder="+880" type="text" style="height: 50%" class="form-control"
                                       name="mobile" id="mobile">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name"><small>Email*</small></label>
                                <input type="email" name="email" style="height: 50%" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name"><small>Qualification</small></label>
                                <input style="height: 50%" type="text" name="qualification" class="form-control"
                                       id="qualification">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name"><small>Experience</small></label>
                                <input type="number" style="height: 50%" class="form-control" name="experience"
                                       id="experience">
                            </div>
                            <div class="form-group col-md-4 mt-4">
                                <div class="custom-select-wrapper">
                                    <select class="custom-select" id="country">
                                        <option selected style="font-size: 10px">Select Country</option>
                                        {% for key, country in countryList.items %}
                                            <option value="{{ key }}"> {{ country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="name"><small>City</small></label>
                                <input style="height: 50px" type="text" name="city" class="form-control" id="city">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="name"><small>ZipCode</small></label>
                                <input type="text" style="height: 50px" class="form-control" name="zipcode"
                                       id="zipcode">
                            </div>
                            <div class="form-group col-md-4 mt-2">
                                <label for="formFile" class="btn btn-outline-secondary mt-6" style="outline: none">
                                    Upload CV
                                </label>
                                <input name="form_file" class="form-control" type="file"
                                       style="opacity: 0; position: absolute; top: -1000em;"
                                       id="formFile" accept=".pdf,.doc,.docx">
                                <span id="fileName" style="display: block; margin-top: 10px">No file chosen</span>
                                <span id="fileSizeError"
                                      style="display: none; color: red;">File size exceeds 1 MB limit</span>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}