{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg mt-20">
        <div class="container">
            <div class="section-title">
                <h2>Sister Concern</h2>
                <p>
                    Our organization proudly extends its expertise across various sectors through our sister concerns,
                    each specializing in distinct industries. From cutting-edge logistics solutions to advanced engineering
                    services, we maintain the highest standards of excellence and innovation. Whether your needs involve
                    construction, energy solutions, marine services, or IT consultancy, our subsidiaries are equipped
                    with the knowledge and resources to meet your demands. With a shared commitment to integrity,
                    efficiency, and customer-focused service, we work collaboratively to deliver value and foster
                    long-term relationships with our partners.
                </p>
            </div>
            <div class="row">
                {% for sector in sister_concer %}
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-8" data-aos="zoom-in" data-aos-delay="100" :key="index">
                        <div class="icon-box" >
                            <div class="icon">{{ sector.icon|safe }}</div>
                            <h4><a href="">{{ sector.name }}</a></h4>
                            <p>{{ sector.detail }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- End Services Section -->
{% endblock content %}
