{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <section id="hero"  class="d-flex align-items-center md:h-full sm:h-12" data-aos="zoom-in" data-aos-delay="200">
        <img style="width: 100%" src="{% static '/assets/img/bunkering-4.jpg' %}" class="img-fluid animated sm:img-fluid" alt="">
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <p>Our company offers a diverse range of services to meet the varied needs of our clients. From physical bunker supply to real estate development, we strive to deliver excellence in every aspect of our operations. Whether you require lubricant supply, ship chandelling, provision and repair services, or are involved in oil carrying or bricks manufacturing, we have the expertise and resources to cater to your requirements effectively. With a commitment to quality, reliability, and customer satisfaction, we aim to exceed expectations and build lasting partnerships with our valued clients.</p>
            </div>
            <div class="row">
                {% for sector in our_sectors %}
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-8" data-aos="zoom-in" data-aos-delay="100" :key="index">
                        <div class="icon-box" >
                            <div class="icon">{{ sector.icon|safe }}</div>
                            <h4><a href="">{{ sector.name }}</a></h4>
                            <p>{{ sector.detail }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
        <!-- End Services Section -->
{% endblock content %}
