{% extends 'base.html' %}
{% load static %}
{% block title %} Request quote {% endblock %}
{% block content %}
    <!-- ======= Quote Section ======= -->
    <section id="quote" class="contact mt-8">
        <div class="container" data-aos="fade-down">
            <div class="section-title">
                <h2>Request a quote</h2>
                <p>Please submit the form below to request a quote.</p>
            </div>
            <div class="container">
                <div class="row">
                    <form action="{% url 'quote' %}" method="post" role="form" class="php-email-form" id="quote-form">
                    {% csrf_token %}
                        <h1 class="mb-3"><strong>Company Info</strong></h1>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name"><small>Company Name*</small></label>
                                <input style="height: 50%"
                                       type="text"
                                       name="company_name"
                                       class="form-control" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Contact Person*</small></label>
                                <input type="text" style="height: 50%"
                                       class="form-control"
                                       name="contact_person" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Telephone*</small></label>
                                <input type="text"
                                       name="telephone"
                                       style="height: 50%"
                                       class="form-control" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Email</small></label>
                                <input type="email" style="height: 50%"
                                       class="form-control"
                                       name="email" required/>
                            </div>
                        </div>
                        <h1 class="mb-2"><strong>Product</strong></h1>
                        <div class="row">
                            <div class="col-md-3">
                                {% for check_input in check_inputs_1 %}
                                    <div class="form-check">
                                        <input style="width: 15px; height: 15px; border-radius: 50%"
                                                class="form-check-input"
                                                type="radio"
                                                name="select_value_1"
                                                value="{{ check_input.value }}"
{#                                               required
                                        />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            <small>{{ check_input.value }}</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3">
                                {% for check_input in check_inputs_2 %}
                                    <div class="form-check">
                                        <input
                                                style="width: 15px; height: 15px; border-radius: 50%"
                                                class="form-check-input"
                                                type="radio"
                                                name="select_value_2"
                                                value="{{ check_input.value }}"
                                                required
                                        />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            <small>{{ check_input.value }}</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3">
                                <label for="name"><small>Quantity*</small></label>
                                <input
                                        type="number"
                                        style="height: 35%"
                                        class="form-control"
                                        name="quantity" required/>
                            </div>
                        </div>
                        <h1 class="mb-3"><strong>Part & Time Info</strong></h1>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name"><small>Vessel Name*</small></label>
                                <input
                                        type="text"
                                        name="vessel_name" style="height: 50%"
                                        class="form-control" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Port*</small></label>
                                <input
                                        type="text"
                                        class="form-control"
                                        style="height: 50%"
                                        name="port" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Berth/Location*</small></label>
                                <input
                                        type="text" name="birth_loc"
                                        class="form-control" style="height: 50%" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Date of Arrival*</small></label>
                                <input
                                        type="date"
                                        class="form-control"
                                        style="height: 50%"
                                        name="eda" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Time of Arrival*</small></label>
                                <input
                                        type="time"
                                        style="height: 50%"
                                        name="eta"
                                        class="form-control"
                                        id="estimation_time_of_arrival" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Date of Departure*</small></label>
                                <input
                                        type="date" class="form-control"
                                        style="height: 50%" name="etd" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Time of Departure*</small></label>
                                <input
                                        type="time"
                                        name="etd"
                                        class="form-control"
                                        style="height: 50%"
                                        value="00:00" required/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Agent*</small></label>
                                <input type="text" class="form-control" style="height: 50%"
                                       name="agent"
                                       id="email" required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="name" style="margin-top: -2px">Message*</label>
                                <textarea class="form-control" name="message" rows="1" required></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                             <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
{% endblock content %}