{% extends 'base.html' %}
{% load static %}
{% block title %} Request quote {% endblock %}
{% block content %}
    <!-- ======= Quote Section ======= -->
    <section id="quote" class="contact mt-8">
        <div class="container" data-aos="fade-down">
            <div class="section-title">
                <h2>Request a quote</h2>
                <p>Please submit the form below to request a quote.</p>
            </div>
            <div class="container">
                <div class="row">
                    <form role="form" class="php-email-form">
                        <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                        </p>
                        <h1 class="mb-3"><strong>Company Info</strong></h1>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name"><small>Company Name</small></label>
                                <input style="height: 50%"
                                       type="text"
                                       name="company_name"
                                       class="form-control"
                                       v-model="form_fields.companyName">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Contact Person</small></label>
                                <input type="text" style="height: 50%"
                                       class="form-control"
                                       name="contact"
                                       v-model="form_fields.contactPerson">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Telephone</small></label>
                                <input type="text" name="telephone"
                                       style="height: 50%"
                                       class="form-control"
                                       v-model="form_fields.telephone">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Email</small></label>
                                <input type="email" style="height: 50%"
                                       class="form-control"
                                       name="email"
                                       v-model="form_fields.email">
                            </div>
                        </div>
                        <h1 class="mb-2"><strong>Product</strong></h1>
                        <div class="row">
                            <div class="col-md-3">
                                {% for check_input in check_inputs_1 %}
                                    <div class="form-check">
                                        <input style="width: 15px; height: 15px; border-radius: 50%"
                                                class="form-check-input flexRadioDefault1"
                                                type="radio"
                                                name="select_value_1"
                                                value="{{ check_input.value }}"
                                        />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            <small>{{ check_input.value }}</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3">
                                {% for check_input in check_inputs_2 %}{#<style>#}
{##}
{#    input[type="radio"] {#}
{#    appearance: none;#}
{#    -webkit-appearance: none;#}
{#    -moz-appearance: none;#}
{#    width: 15px;#}
{#    height: 15px;#}
{#    border-radius: 50%;#}
{#    outline: none;#}
{#    cursor: pointer;#}
{#    }#}
{##}
{#    input[type="radio"]:checked {#}
{#    background-color: #375173;#}
{#    }#}
{##}
{#    .form-check-label {#}
{#    margin-left: 8px;#}
{#    cursor: pointer;#}
{#    }#}
{#</style>#}
                                    <div class="form-check">
                                        <input
                                                style="width: 15px; height: 15px; border-radius: 50%"
                                                class="form-check-input"
                                                type="radio"
                                                name="select_value_2"
                                                id="flexRadioDefault1"
                                                value="{{ check_input.value }}"
                                        >
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            <small>{{ check_input.value }}</small>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-3">
                                <label for="name"><small>Quantity</small></label>
                                <input
                                        type="number"
                                        style="height: 35%"
                                        class="form-control"
                                        name="quantity"
                                >
                            </div>
                        </div>
                        <h1 class="mb-3"><strong>Part & Time Info</strong></h1>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name"><small>Vessel Name</small></label>
                                <input
                                        type="text"
                                        name="vessel_name" style="height: 50%"
                                        class="form-control"
                                >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Port</small></label>
                                <input
                                        type="text"
                                        class="form-control"
                                        style="height: 50%"
                                        name="port">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Berth/Location</small></label>
                                <input
                                        type="text" name="name"
                                        class="form-control" style="height: 50%"
                                >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Date of Arrival</small></label>
                                <input
                                        type="date"
                                        class="form-control"
                                        style="height: 50%"
                                        name="eda"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Time of Arrival</small></label>
                                <input
                                        type="time"
                                        style="height: 50%"
                                        name="eta"
                                        class="form-control"
                                        id="estimation_time_of_arrival"
                                >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Date of Departure</small></label>
                                <input
                                        type="date" class="form-control"
                                        style="height: 50%" name="estimation_time_of_departure"
                                >
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Estimated Time of Departure</small></label>
                                <input
                                        type="time"
                                        name="name"
                                        class="form-control"
                                        style="height: 50%"
                                        value="00:00">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="name"><small>Agent</small></label>
                                <input type="text" class="form-control" style="height: 50%"
                                       name="agent"
                                       id="email"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="name">Message*</label>
                                <textarea class="form-control" name="message" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                             <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
{% endblock content %}