{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock %}

{% block style %}
    .pic {
    flex: 0 0 auto;
    }
{% endblock %}
{% block content %}
    <section id="team" class="team section-bg mt-20">
        <div class="container" data-aos="fade-down">
            <div class="section-title">
                <h2>Team</h2>
                <p>Our team is composed of dedicated professionals, each bringing a unique set of skills and experience
                    to our organization. We are committed to delivering high-quality services that meet the diverse needs
                    of our clients and aim to exceed expectations in every project. By combining expertise, attention to
                    detail, and a commitment to excellence, we build lasting partnerships based on trust and customer
                    satisfaction.</p>
            </div>

            <div class="row">
                {% for member in teamMembers %}
                    <div class="col-lg-6 mt-8" data-aos="zoom-in" data-aos-delay="1000">
                        <div class="member d-flex align-items-start">
                            <div class="pic" style="display: block">
                                <img src="{% static member.img  %}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>{{ member.name }}</h4>
                                <span>{{ member.designation }}</span>
                                {% if member.bio %}
                                    <p style="display: block">{{ member.bio }}</p>
                                {% else %}
                                    <div class="bio default-bio">Bio information is coming soon.</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}